<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="container">
                    <h1 class="title_design">Online <br><br>Exam</h1>
                    <p class="sub-title_design">
                        This University Examination Portal website is to centralize the data of all students od this institute - questionnaires, test/exam papers, reports, marks history and student details in one place. It’s an automated system where new student registration, tests/exams can be given online, and the work can be done in isolation too.
                    </p>

                    <button routerLink="/signup" type="button" class="btn signup_button">Signup</button>
                    <button routerLink="/login" type="button" class="btn login_button">Login</button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="mb20">
                    <img class="image_position" src="../../../assets/home_page.png" alt="image loading">
                </div>
                
            </div>
        </div>
    </div>
</div>
