<mat-card>
    <h1 class="ml20 mt20">Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wraper">
            <div class="container">
                <div class="container text-center">
                    <h1 class="">Souvik Nandi</h1>
                </div>
                <div class="row">    
                    <div class="col-md-10 offset-md-1">
                        <!-- table detail -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>snandi</td>
                            </tr>
                            <tr>
                                <td>Userid</td>
                                <td>EXAM01</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>snandi@argusoft.com</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>ADMIN</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>ACTIVE</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="textCenter">
        <button mat-raised-button color="primary">UPDATE</button>
    </mat-card-actions>
</mat-card>