.truncate {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-icon{
    background-image: url("../../../../assets/exam.png");
    background-size: cover;
}

.subjectCard{
    width: 100%;
}